@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); 

body {
    font-family: 'Inter', 'sane-serif';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    padding: 40px;
    align-items: center;
    align-content: center;
}

.container {
    max-width: 80%;
    width: 500px;
    margin: 0 auto;
}

img {
    width: inherit;
}

h1{
    margin: 15px 0;
    font-size: 25px;
}

p {
    font-size: 15px;
    line-height: 1.5;
}

.form-control {
    display: flex;
    margin-bottom: 15px;
    column-gap: 20px;
}

.half-container {
    width: 50%;
}

.form-control label {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    color: gray;
    font-size: 13px;
}

form {
    margin-top: 20px;
}

.form-control input {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}

.full-container{
    width: 100%;
}
#btn{
    background:blue;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
}
div[class^='error-']{
    color: red;
    padding-top: 10px;
    font-size: 13px;
    display:none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    height:100%;
    width:50%;
    border: 1px solid yellow;
    text-align: center;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid blueviolet;
    width:50%;
    min-width: 100px;
  }
  th:first-child{
    min-width: 20px;
  }
.delete {
    background-color: #7a2727
}

.update {
    background-color: #bc7e0d;
}

.btn-primary {
    background-color: #089fdd;
}
.tableContainer{
    width: 70%;
    overflow-x: auto;
    display: flex;
    margin: 0 auto;
    margin-bottom: 25px;
    display:block; 
}
tr:nth-child(even), thead > tr{
    background-color: #f2f2f2
}

.fa-edit{
    color: green;
    cursor: pointer;
}

.fa-trash{
    color: red;
    cursor: pointer;
}

th.address {
    min-width: 150px;

}

.main-table h1{
    width: 70%;
    margin: 0 auto 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
 nav li {
    float: left;
  }
  
 nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 nav li a:hover {
    background-color: #111;
  }